{
  "extends": "standard",
  "rules": {
    "semi": [2, "always"],
    "standard/computed-property-even-spacing": 0,
    "handle-callback-err": 0,
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-unused-expressions": 0,
    "camelcase": 0,
    "no-undef": 0,
    "no-return-assign": 0,
    "no-useless-constructor": 0,
    "no-mixed-operators": 0,
    "no-unreachable": 0,
    "no-eval": 0,
    "no-unused-vars": 0,
    "eqeqeq": 0,
    "object-shorthand": [2, "always"],
    "arrow-parens": [2, "as-needed"],
    "arrow-body-style": [2, "as-needed"],
    "space-before-function-paren": [2, "never"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "constructor-super": 2,
    "generator-star-spacing": [2, { "before": true, "after": true }],
    "no-class-assign": 2,
    "no-confusing-arrow": 0,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-new-symbol": 2,
    "no-this-before-super": 2,
    "prefer-reflect": [0, { "exceptions": [] }],
    "prefer-rest-params": 0,
    "prefer-spread": 0,
    "require-yield": 2,
    "template-curly-spacing": [2, "never"],
    "yield-star-spacing": [2, { "before": true, "after": true }]
  }
}
