#stackContainer {
  white-space: nowrap;
  overflow: auto;
  background-color: darkgrey;
}

.image-stack {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  overflow: auto;
  background-color: darkgrey;
  margin: 0 2px;
}

.source-image {
  height: 0;
}

.stack-canvas {
  cursor: zoom-in;
  width: 100%;
  margin: 2px 0;
}

.focused {
  position: fixed;
  object-fit: contain;
  background-color: darkgray;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: zoom-out;
}
