body {
  font: normal 15px Verdana, Arial, sans-serif;
}

#steps {
  height: calc(100% - 144px);
}

#step-header-row, #control-row {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid blue;
  padding: 8px;
}

.step-header {
  font-size: larger;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 8px;
}

.active-step-header {
  background-color: blue;
  color: white;
}

.inactive-step-header {
  background-color: lightgrey;
  color: grey;
}

.completed-step-header {
  background-color: lightblue;
}

.step {
  border: 8px solid lightblue;
  outline: 1px solid blue;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-stretch;
  height: 100%;
}

.inactive-step {
  display: none;
}

button, .button-like {
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

input[type="text"], input[type="number"] {
  font-size: 15px;
  background-color: rgba(228, 104, 93, 0.05);
  border: 1px solid lightblue;
  border-radius: 4px;
}

input[type="number"] {
  width: 60px;
}

/* http://danielstern.ca/range.css/#/ */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(173, 216, 230, 0.78);
  border-radius: 1px;
  border: 1px solid rgba(1, 1, 1, 0.2);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: px px px rgba(0, 0, 0, 0), 0px 0px px rgba(13, 13, 13, 0);
  border: 1px solid #add8e6;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #e4685d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(181, 220, 232, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(173, 216, 230, 0.78);
  border-radius: 1px;
  border: 1px solid rgba(1, 1, 1, 0.2);
}
input[type=range]::-moz-range-thumb {
  box-shadow: px px px rgba(0, 0, 0, 0), 0px 0px px rgba(13, 13, 13, 0);
  border: 1px solid #add8e6;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #e4685d;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(165, 212, 228, 0.78);
  border: 1px solid rgba(1, 1, 1, 0.2);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(173, 216, 230, 0.78);
  border: 1px solid rgba(1, 1, 1, 0.2);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: px px px rgba(0, 0, 0, 0), 0px 0px px rgba(13, 13, 13, 0);
  border: 1px solid #add8e6;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #e4685d;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(173, 216, 230, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(181, 220, 232, 0.78);
}

button:hover, button-like:hover {
  background-color: #eb675e;
}

button:active, .button-like:active {
  position: relative;
  top: 1px;
}

.instrument-panel {
  display: inline-block;
  width: 222px;
  border-right: 1px solid blue;
  padding-right: 8px;
  margin-right: 8px;
}

.instrument-panel > div {
  margin: 16px 0;
}

.preview-panel {
  position: relative;
  display: inline-block;
  width: calc(100% - 230px);
  border: dashed 2px crimson;
  overflow: auto;
}

#chooser-upload-button {
  opacity: 0;
  height: 0;
}

.previewed {
  max-height: calc(100% - 8px);
  max-width: calc(100% - 8px);
  position: absolute;
  top: 0;
  left: 0;
}

#griddler-grid-canvas {
  cursor: move;
}
