.the-map {
  transform-origin: top left;
  display: inline-block;
  cursor: crosshair;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.the-map * {
  box-sizing: border-box;
}

.mobile-cursor {
  position: fixed;
  left: calc(50% - 12.5px);
  top: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAYUlEQVRIS+1WQQ4AIAiS/z/aRs2tW9KhdcCzijJkIoTIzKx0AOiWthPZkCDsTSyDHCk2XVbXh3eyW8VRwxHcYF68EijtK0VK7rSgJ5uIU9kg+4TZIG2QHxpkX8DrJbr5uwYYoKkOM2ZJzgAAAABJRU5ErkJggg==");
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  pointer-events: none;
}

.widget-layer {
  z-index: 10;
}

.grid-layer {
  display: inline-block;
  z-index: 10;
  pointer-events: auto;
}

.mask-layer {
  z-index: 9;
}

.gmoverlay-layer {
  z-index: 8;
  display: none;
}

.editor-view .gmoverlay-layer {
  display: inherit;
}

.text-layer {
  z-index: 7;
}

.separators-layer {
  z-index: 6;
}

.images-layer {
  z-index: 5;
}

.shapes-layer {
  z-index: 4;
}

.stairs-layer {
  z-index: 3;
}

.walls-layer {
  z-index: 2;
  filter: drop-shadow(2px 2px 3px #919191);
  border-color: bisque;
}

.floors-layer {
  z-index: 1;
  border-color: bisque;
}

.row-container {
  display: block;
  white-space: nowrap;
}

.grid-cell {
  position: relative;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.wall-cell {
  position: absolute;
}

.floor-cell {
  position: absolute;
  border-right: 1px solid;
  border-bottom: 1px solid;
  background-color: rgb(245, 245, 220);
  border-color: bisque;
}

.separator-cell {
  position: absolute;
}

.image-cell {
  position: absolute;
}

.shape-cell {
  position: absolute;
}

.stairs-cell {
  position: absolute;
  margin: 0 1px 1px 0;
}

.text-cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2px 3px 3px 2px;
  white-space: pre-wrap;
}

.text-cell-adding, .text-cell-removing, .text-cell-editing,
.image-cell-adding, .image-cell-removing, .image-cell-editing {
  border: 1px dashed rgb(50, 50, 50);
  margin: 1px 2px 2px 1px;
}

.image-cell-removing {
  border-color: red;
}

.text-cell-textarea, .image-cell-textarea {
  position: absolute;
  z-index: 11;
  resize: none;
  margin: 1px 0px 0px 1px;
  overflow: hidden;
  text-align: center;
  border: 0;
  outline: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 0px 8px 2px rgba(50,50,50,0.5);
}

.image-cell-textarea {
  background-color: rgba(255, 255, 255, 0.5);
}

.text-hover-widget, .image-hover-widget {
  position: absolute;
  cursor: text;
  z-index: 10;
  margin: 2px 3px 3px 2px;
}

.fixed-image-hover-widget {
  position: absolute;
  margin: 0 1px 1px 0;
  z-index: 10;
}

.text-delete-widget, .image-delete-widget {
  position: absolute;
  width: 6px;
  height: 6px;
  cursor: pointer;
  margin-left: -2px;
  z-index: 12;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><line x1='0' y1='0' x2='6' y2='6' stroke='red' stroke-width='1' /><line x1='6' y1='0' x2='0' y2='6' stroke='red' stroke-width='1' /></svg>");
}

.image-delete-widget {
  margin-left: -5px;
}

.text-resize-widget, .image-resize-widget {
  position: absolute;
  width: 6px;
  height: 6px;
  cursor: se-resize;
  margin-left: -2px;
  margin-top: -2px;
  z-index: 12;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><polygon points='0,6 6,6 6,0'/></svg>");
}

.image-resize-widget {
  margin-left: -5px;
  margin-top: -5px;
}

.box-move-widget {
  position: absolute;
  background-color: yellow;
  width: 6px;
  height: 6px;
  cursor: move;
  z-index: 12;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><rect x='0' y='0' width='6' height='6' stroke-width='1' fill='none' stroke='black'/></svg>");
}

.image-cell-editing .image, .image-cell-adding .image {
  margin: -2px -3px -3px -2px;
}

.primary-cell {
  width: 25px;
  height: 25px;
}

.corner-cell {
  width: 7px;
  height: 7px;
}

.vertical-cell {
  width: 7px;
  height: 25px;
}

.horizontal-cell {
  width: 25px;
  height: 7px;
}

.selected-cell {
  background-color: rgba(223, 219, 229, 0.25);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.stairs-cell-adding, .stairs-cell-removing, .stairs-cell-editing {
  margin: -1px 0 0 -1px;
}

.stairs-cell-adding, .stairs-cell-removing {
  filter: opacity(0.6);
}

.stairs-cell-adding, .stairs-cell-editing {
  border: 1px dashed rgb(50, 50, 50);
}

.stairs-cell-removing {
  border: 1px dashed red;
}

.image-cell-removing {
  border-color: red;
}

.square-cell-primary, .square-cell-vertical, .square-cell-horizontal,
.circle-cell-primary, .circle-cell-vertical, .circle-cell-horizontal {
  margin: -1px -0px -0px -1px;
}

.square-cell-primary, .circle-cell-primary {
  z-index: 1;
}

.square-cell-vertical, .square-cell-horizontal, .circle-cell-vertical,
.circle-cell-horizontal {
  z-index: 0;
}

.square-cell-corner, .circle-cell-corner {
  margin: -8px -7px -7px -8px;
  z-index: 2;
  background: rgb(255, 0, 0) !important;
}

.square-cell-corner-removing, .circle-cell-corner-removing {
  z-index: -1;
}

.square-cell-primary-removing, .square-cell-horizontal-removing,
.square-cell-vertical-removing, .circle-cell-primary-removing,
.circle-cell-horizontal-removing, .circle-cell-vertical-removing {
  z-index: -2;
}

.square-cell-0 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 6, 20 6, 20 20, 6 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-1 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 -2, 20 -2, 20 20, 6 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-2 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 6, 27 6, 27 20, 6 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-3 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 -2, 20 -2, 20 6, 27 6, 27 20, 6 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-4 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 6, 20 6, 20 27, 6 27' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-5, .circle-cell-5 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 -2, 20 -2, 20 27, 6 27' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-6 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 6, 27 6, 27 20, 20 20, 20 27, 6 27' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-7 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 -2, 20 -2, 20 6, 27 6, 27 20, 20 20, 20 27, 6 27' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-8 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 6, 20 6, 20 20, -2 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-9 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 6, 6 6, 6 -2, 20 -2, 20 20, -2 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-10, .circle-cell-10 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 6, 27 6, 27 20, -2 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-11 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 -2, 20 -2, 20 6, 27 6, 27 20, -2 20, -2 6, 6 6' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-12 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 6, 20 6, 20 27, 6 27, 6 20, -2 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-13 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='6 -2, 20 -2, 20 27, 6 27, 6 20, -2 20, -2 6, 6 6' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-14 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 6, 27 6, 27 20, 20 20, 20 27, 6 27, 6 20, -2 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.square-cell-15 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 6, 6 6, 6 -2, 20 -2, 20 6, 27 6, 27 20, 20 20, 20 27, 6 27, 6 20, -2 20' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-0 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><circle cx='13' cy='13' r='7' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-1 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 6 -2, H 20, V 13, A 7 7 0 1 1 6 13, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-2 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 30 6, V 20, H 13, A 7 7 0 1 1 13 6, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-3 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 6 -2, H 20, V 0, A 6 6 0 0 0 26 6, H 27, V 20, H 26, A 20 20 0 0 1 6 0, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-4 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 6 27, H 20, V 13, A 7 7 0 0 0 6 13, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-6 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 27 6, V 20, H 26, A 6 6 0 0 0 20 26, V 27, H 6, V 26, A 20 20 0 0 1 26 6, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-7 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 20 -2, V 0, A 6 6 0 0 0 26 6, H 27, V 20, H 26, A 6 6 0 0 0 20 26, V 27, H 6, V -2, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-8 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M -2 20, V 6, H 13, A 7 7 0 1 1 13 20, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-9 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 6 -2, H 20, V 0, A 20 20 0 0 1 0 20, H -2, V 6, H 0, A 6 6 0 0 0 6 0, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-11 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M -2 6, H 0, A 6 6 0 0 0 6 0, V -2, H 20, V 0, A 6 6 0 0 0 26 6, H 27, V 20, H -2, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-12 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M -2 6, H 0, A 20 20 0 0 1 20 26, V 27, H 6, A 6 6 0 0 0 0 20, H -2, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-13 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M 6 -2, H 20, V 27, H 6, V 26, A 6 6 0 0 0 0 20, H -2, V 6, H 0, A 6 6 0 0 0 6 0, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-14 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M -2 6, H 27, V 20, H 26, A 6 6 0 0 0 20 26, V 27, H 6, V 26, A 6 6 0 0 0 0 20, H -2, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.circle-cell-15 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><path d='M -2 6, H 0, A 6 6 0 0 0 6 0, V -2, H 20, V 0, A 6 6 0 0 0 26 6, H 27, V 20, A 6 6 0 0 0 20 26, V 27, H 6, V 26, A 6 6 0 0 0 0 20, H -2, z' fill='rgb(255, 0, 0)' stroke-width='1.5' stroke='rgb(150, 0, 0)'/></svg>");
}

.angled-wall-cell {
  margin: -7px;
  image-rendering: pixelated;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAATUlEQVRYR2NkwAH+Pznyn1HGhhGXPDXEwXaMOmA0BAY8BEApkRopmlwzRnPBaAiMhsBoCIyGwGgIjIbAaAiMhsBoCIyGwGgIMA50xwQAWIXs4R2T9uwAAAAASUVORK5CYII=");
}

/* hsl(34, 56.9, 70.0) */
.square-wall-cell, .oval-wall-cell, .angled-wall-cell {
  background-color: rgb(222, 184, 135);
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: bisque;
  box-shadow: 0 0 0 0.3px bisque;
}

/* hsl(60, 23.8, 79.4) */
.square-wall-cell-adding, .square-wall-cell-editing,
.oval-wall-cell-adding, .oval-wall-cell-editing {
  background-color: rgb(215, 215, 190);
}

/* hsl(47, 52.1, 81.2) */
.square-wall-cell-removing, .oval-wall-cell-removing {
  background-color: rgb(232, 221, 182);
  z-index: 1;
}

.angled-wall-cell-adding {
  filter: hue-rotate(26deg) saturate(0.42) brightness(1.13);
}

.angled-wall-cell-editing {
  filter: hue-rotate(26deg) saturate(0.42) brightness(1.13);
}

.angled-wall-cell-removing {
  filter: hue-rotate(13deg) saturate(0.92) brightness(1.16);
}

.door-cell {
  background-color: rgb(255, 250, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  border-radius: 2px;
}

.door-cell-horizontal {
  margin: -2px 4px -1px 3px;
}

.door-cell-vertical {
  margin: 3px -1px 4px -2px;
}

.double-door-cell-horizontal {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='50%' y1='0' x2='50%' y2='100%' stroke-width='1' stroke='rgb(100, 100, 100)' /></svg>") rgb(255, 250, 240);
}

.double-door-cell-vertical {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='50%' x2='100%' y2='50%' stroke-width='1' stroke='rgb(100, 100, 100)' /></svg>") rgb(255, 250, 240);
}

.secret-door-cell {
  border-style: dashed;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><text x='50%' y='50%' dominant-baseline='central' text-anchor='middle' font-size='10'>S</text></svg>") rgb(255, 250, 240) no-repeat;
}

.window-cell {
  background-color: rgb(255, 250, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
}

.door-cell-adding, .window-cell-adding {
  background-color: rgba(255, 250, 240, 0.2);
  border-color: rgba(100, 100, 100, 0.8);
}

.door-cell-removing, .window-cell-removing {
  background-color: rgba(255, 250, 240, 0.5);
  border-color: rgba(100, 100, 100, 0.8);
}

.window-cell-vertical {
  margin: 3px 2px 4px 1px;
}

.window-cell-horizontal {
  margin: 1px 4px 2px 3px;
}

.bars-cell-adding, .fence-cell-adding, .curtain-cell-adding {
  opacity: 0.7;
}

.bars-cell-removing, .fence-cell-removing, .curtain-cell-removing {
  opacity: 0.3;
}

.bars-cell-horizontal {
  margin-right: 1px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><circle cx='4' cy='3' r='2' stroke='rgb(80, 80, 80)' stroke-width='1' fill='white' /></svg>") repeat-x;
}

.bars-cell-vertical {
  margin-bottom: 1px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><circle cx='3' cy='4' r='2' stroke='rgb(80, 80, 80)' stroke-width='1' fill='white' /></svg>") repeat-y;
}

.fence-cell-horizontal {
  margin-right: 1px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><line x1='0' y1='3' x2='100%' y2='3' stroke-width='1' stroke='rgb(100, 100, 100)' /><circle cx='4' cy='3' r='2' stroke='rgb(80, 80, 80)' stroke-width='1' fill='white' /></svg>") repeat-x;
}

.fence-cell-vertical {
  margin-bottom: 1px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><line x1='3' y1='0' x2='3' y2='100%' stroke-width='1' stroke='rgb(100, 100, 100)' /><circle cx='3' cy='4' r='2' stroke='rgb(80, 80, 80)' stroke-width='1' fill='white' /></svg>") repeat-y;
}

.curtain-cell-vertical {
  margin-bottom: 1px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='7' height='16'><path d='M 1 0 C 1 3 5 3 5 8 S 1 11 1 16' stroke='rgb(100, 100, 100)' stroke-width='1' fill='transparent'/></svg>") repeat-y;
}

.curtain-cell-horizontal {
  margin-right: 1px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='7'><path d='M 0 1 C 3 1 3 5 8 5 S 11 1 16 1' stroke='rgb(100, 100, 100)' stroke-width='1' fill='transparent'/></svg>") repeat-x;
}

.text-cell {
  color: rgb(50, 50, 50);
}

.gm-note {
  color: mediumvioletred;
  display: none;
}

.editor-view .gm-note {
  display: flex;
}

.image-cell {
  color: rgb(50, 50, 50);
}

.image-black {
  fill: black;
}

.image-green {
  fill: darkgreen;
}

.image-brown {
  fill: sienna;
}

.image-blue {
  fill: blue;
}

.image-red {
  fill: crimson;
}

.text-cell-adding {
  color: rgba(50, 50, 50, 0.6);
}

.text-cell-removing {
  color: rgba(50, 50, 50, 0.3);
}

.text-cell-textarea, .image-cell-textarea, .text-cell {
  font-family: sans-serif;
  font-weight: bold;
}

.green-square, .green-circle {
  filter: hue-rotate(160deg) brightness(1.5);
}

.green-square-adding, .green-circle-adding, .green-square-removing,
.green-circle-removing {
  filter: hue-rotate(165deg) brightness(2.0);
}

.brown-square, .brown-circle {
  filter: hue-rotate(65deg) brightness(2.5);
}

.brown-square-adding, .brown-circle-adding, .brown-square-removing,
.brown-circle-removing {
  filter: hue-rotate(65deg) brightness(3.0);
}

.blue-square, .blue-circle {
  filter: hue-rotate(215deg) brightness(2.5);
}

.blue-square-adding, .blue-circle-adding, .blue-square-removing,
.blue-circle-removing {
  filter: hue-rotate(215deg) brightness(3.0);
}

.red-square, .red-circle {
  filter: hue-rotate(45deg) brightness(2.0);
}

.red-square-adding, .red-circle-adding, .red-square-removing,
.red-circle-removing {
  filter: hue-rotate(45deg) brightness(2.5);
}

.white-square, .white-circle {
  filter: grayscale(100%) brightness(2.8) contrast(4);
}

.white-square-adding, .white-circle-adding, .white-square-removing,
.white-circle-removing {
  filter: grayscale(100%) brightness(3) contrast(4);
}

.stairs-cell-horizontal {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='100%'><line x1='3.4' y1='0' x2='3.4' y2='100%' stroke='rgb(80, 80, 80)' stroke-width='2' /></svg>");
}

.stairs-cell-ascending-left {
  clip-path: polygon(0 0, 100% 9px, 100% calc(100% - 9px), 0 100%);
}

.stairs-cell-ascending-right {
  clip-path: polygon(0 9px, 100% 0, 100% 100%, 0 calc(100% - 9px));
}

.stairs-cell-vertical {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='6'><line x1='0' y1='3.4' x2='100%' y2='3.4' stroke='rgb(80, 80, 80)' stroke-width='2' /></svg>");
}

.stairs-cell-ascending-top {
  clip-path: polygon(0 0, 100% 0, calc(100% - 9px) 100%, 9px 100%);
}

.stairs-cell-ascending-bottom {
  clip-path: polygon(9px 0, calc(100% - 9px) 0, 100% 100%, 0 100%);
}

.stairs-cell-spiral {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><style>path, line {stroke: rgb(80, 80, 80); stroke-width: 1.5; fill: transparent; vector-effect: non-scaling-stroke;}</style> <path d='M 50 5 A 45 45 0 1 0 95 50'/> <line x1='50' y1='50' x2='50' y2='5'/> <line x1='50' y1='50' x2='50' y2='5' transform='rotate(90 50 50)'/><line x1='50' y1='50' x2='50' y2='5' transform='rotate(135 50 50)'/><line x1='50' y1='50' x2='50' y2='5' transform='rotate(180 50 50)'/><line x1='50' y1='50' x2='50' y2='5' transform='rotate(225 50 50)'/><line x1='50' y1='50' x2='50' y2='5' transform='rotate(270 50 50)'/><line x1='50' y1='50' x2='50' y2='5' transform='rotate(315 50 50)'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden-cell {
  position: absolute;
  background-color: rgb(50, 50, 50);
  box-shadow: 0 0 0 0.3px rgb(50, 50, 50);
}

.editor-view .hidden-cell {
  background-image: repeating-linear-gradient(45deg, RGB(102, 51, 153), RGB(102, 51, 153) 3px, rgb(100, 100, 100) 3px, rgb(100, 100, 100) 6px);
  opacity: 0.4;
}

.editor-view .hidden-cell-adding {
  opacity: 0.2;
}

.editor-view .hidden-cell-removing {
  opacity: 0.1;
}

.hidden-secret-door-cell {
  display: none;
  border: 1px dashed mediumvioletred;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><text x='50%' y='50%' dominant-baseline='central' text-anchor='middle' font-size='10' fill='mediumvioletred'>S</text></svg>") rgb(255, 250, 240) no-repeat;
}

.editor-view .hidden-secret-door-cell {
  display: inherit;
}

.gmoverlay-square {
  position: absolute;
  background-color: mediumvioletred;
  opacity: 0.4;
}

.gmoverlay-square-adding {
  opacity: 0.2;
}

.gmoverlay-square-removing {
  opacity: 0.1;
}
