.menu {
  background-color: rgba(75, 83, 107, 0.5);
  display: inline-block;
  width: 100%;
}

.menu-shortcut {
  text-decoration: underline;
}

/*
@media screen and (any-hover: none) and
    (min-resolution: 1.0dppx) and (max-width: 800px) {
  .menu {transform: scale(1.5, 1.5);}
}
@media screen and (any-hover: none) and (min-resolution: 1.5dppx) and
    (max-width: 1200px) {
  .menu {transform: scale(2.0, 2.0);}
}
@media screen and (any-hover: none) and (min-resolution: 2.0dppx) and
    (max-width: 1600px) {
  .menu {transform: scale(2.5, 2.5);}
}
@media screen and (any-hover: none) and (min-resolution: 2.5dppx) and
    (max-width: 2000px) {
  .menu {transform: scale(3.0, 3.0);}
}
*/

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.menu-top {
  align-items: center;
  padding: 4px;
  white-space: nowrap;
  overflow-x: auto;
}

.menu-bottom {
  background-color: rgba(43, 43, 44, 0.28);
}

.menu-tip {
  color: lightgrey;
  display: inline-block;
  padding: 1px;
}

.menu-item {
  min-height: 30px;
  min-width: 30px;
  margin: 4px;
  border: 1px solid rgba(31, 31, 31, 0.6);
  padding: 1px;
  background-color: rgba(31, 31, 31, 0.6);
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
}

.menu-item-container {
  display: inline-table;
  text-align: center;
  margin: 0 1px;
}

.menu-separator {
  display: inline-table;
  min-width: 6px;
  visibility: hidden;
}

.menu-item-label {
  text-align: center;
  color: aliceblue;
  font-size: 10pt;
  margin-top: -4px;
  display: table-caption;
  caption-side: bottom;
}

.disabled-menu-item {
  background-color: rgba(100, 100, 100, 0.6);
}

.menu-icon {
  color: aliceblue;
  image-rendering: pixelated;
}

.menu-icon img {
  position: relative;
  top: 3px;
}

.menu-label {
  color: aliceblue;
}

.menu-input-container {
  cursor: auto;
}

.menu-textarea {
  white-space: nowrap;
  z-index: 1;
}

.menu-label {
  display: inline-block;
  color: aliceblue;
  padding: 0 4px;
}

.selected-menu-item {
  border: 1px solid white;
  padding: 1px;
}

.selected-submenu-item {
  border: 1px solid white;
  padding: 1px;
}

.submenu {
  display: none;
  min-height: 40px;
}

.menu-input-element {
  margin: 5px 0;
}

.menu-select-element {
  margin: 6px 0;
}

.selector-submenu {
  max-height: 84px;
  overflow-x: auto;
}

.status-bad {
  background-color: firebrick;
}

.status-unstable {
  background-color: goldenrod;
}

.status-good {
  background-color: green;
}

.toolbox > button {
  margin: 4px;
  background-color: black;
}

.menu-wall-tool-cell-row {
  display: block;
}

.menu-wall-tool .grid-cell {
  display: inline-block;
  position: relative;
}

.menu-wall-tool .square-wall-cell {
  width: 100%;
  height: 100%;
}

.menu-wall-tool .corner-cell, .menu-wall-tool .vertical-cell {
  width: 3px;
}

.menu-wall-tool .corner-cell, .menu-wall-tool .horizontal-cell{
  height: 3px;
}

.menu-wall-tool .primary-cell, .menu-wall-tool .horizontal-cell {
  width: 7px;
}

.menu-wall-tool .primary-cell, .menu-wall-tool .vertical-cell {
  height: 7px;
}

.menu-wall-tool .angled-wall-cell {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
  top: -12px;
  left: -12px;
  transform: scale(0.308);
  margin: -4px;
}

.menu-wall-tool .ellipse-cell-1 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='11.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='11.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-2 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='11.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='11.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-3 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='11.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='11.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-5 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-6 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-8 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-9 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-10 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-14 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-15 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-16 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-18 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-19 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='-1.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-21 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-22 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='-8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='-8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-cell-23 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-8.5' fill='white' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-1 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='11.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='11.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='11.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='11.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-2 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='11.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='1.5' cy='11.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='11.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='1.5' cy='11.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-3 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='11.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='11.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='11.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='11.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-5 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='11.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='11.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-6 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-8 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-9 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-7.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-7.5' cy='8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-10 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='11.5' cy='1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='11.5' cy='1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-14 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-7.5' cy='1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-7.5' cy='1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-15 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='11.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='11.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='11.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-16 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-18 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-19 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-7.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-7.5' cy='-1.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-7.5' cy='-1.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-21 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='-8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='8.5' cy='-8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='8.5' cy='-8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-22 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='-8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='1.5' cy='-8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='1.5' cy='-8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='1.5' cy='-8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-wall-tool .ellipse-hollow-cell-23 {
  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='-8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>"); 
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><defs><mask id='m'><ellipse rx='11.5' ry='11.5' cx='-0.5' cy='-8.5' fill='white' /><ellipse rx='8.5' ry='8.5' cx='-0.5' cy='-8.5' fill='black' /></mask></defs><rect x='0' y='0' width='100%' height='100%' mask='url(%23m)' /></svg>");
}

.menu-separators .grid-cell {
  position: relative;
  top: 2px;
}

.menu-separators .floor-cell {
  width: 10px;
}

.menu-separators .separator-cell {
  position: absolute;
  width: 8px;
  height: 16px;
  z-index: 1;
  left: 11px;
  top: 7px;
}

.menu-separators .window-cell {
  width: 3px;
  left: 12px;
  top: 4px;
}

.menu-separators .fence-cell-vertical, .menu-separators .bars-cell-vertical {
  left: 14px;
  height: 26px;
  top: 4px;
}

.menu-separators .curtain-cell-vertical {
  height: 26px;
  top: 3px;
  left: 14px;
}

.menu-text .floor-cell {
  position: relative;
  top: 2px;
}

.menu-text .text-cell {
  position: absolute;
  font-size: 8pt;
  top: 1px;
}

.menu-text .gm-note {
  position: absolute;
  display: inherit;
  top: -1px;
  left: 2px;
}

.menu .hidden-secret-door-cell {
  display: inherit;
}

.menu .gm-overlay-square {
  display: inherit;
  left: 3px;
  top: 3px;
  opacity: 1;
  border-color: mediumvioletred;
}

.menu-images .floor-cell {
  position: relative;
  top: 2px;
}

.menu-images .image-cell {
  position: absolute;
  left: 4px;
  top: 4px;
}

.menu-shapes .floor-cell {
  position: relative;
  top: 2px;
}

.menu-shapes .shape-cell {
  position: absolute;
  left: 4px;
  top: 4px;
}

.menu-stairs .floor-cell {
  position: relative;
  top: 2px;
}

.menu-stairs .stairs-cell {
  position: absolute;
  width: 28px;
  height: 28px;
  overflow: hidden;
  left: 2px;
  top: 2px;
}

.menu-tokens .floor-cell {
  position: relative;
  top: 2px;
}

.menu-tokens .image-cell {
  position: absolute;
  left: 4px;
  top: 4px;
}

#createdOn {
  color: aliceblue;
  cursor: auto;
  padding: 0 4px;
}
