.menu {
  position: absolute;
  max-width: calc(100% - 8px);
  top: 4px;
  left: 4px;
  max-height: calc(100% - 8px);
  z-index: 20;
  background-color: rgba(75, 83, 107, 0.5);
  overflow-x: auto;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.menu-top {
  align-items: center;
  padding: 4px;
}

.menu-bottom {
  background-color: rgba(43, 43, 44, 0.28);
}

.menu-tip {
  color: lightgrey;
  display: inline-block;
}

.menu-item {
  height: 30px;
  min-width: 30px;
  margin: 4px;
  border: 1px solid rgba(31, 31, 31, 0.6);
  padding: 1px;
  background-color: rgba(31, 31, 31, 0.6);
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.disabled-menu-item {
  background-color: rgba(100, 100, 100, 0.6);
}

.menu-icon {
  color: aliceblue;
}

.menu-icon img {
  position: relative;
  top: 3px;
}

.menu-label {
  color: aliceblue;
}

.menu-textarea {
  white-space: nowrap;
}

.menu-textarea-label {
  display: inline-block;
  color: aliceblue;
  padding: 0 4px;
}

.menu-textarea-input {
  display: inline-block;
  vertical-align: middle;
}

.selected-menu-item {
  border: 1px solid white;
  padding: 1px;
}

.selected-submenu-item {
  border: 1px solid white;
  padding: 1px;
}

.submenu {
  display: none;
  min-height: 40px;
}

.selector-submenu {
  max-height: 84px;
  overflow-x: auto;
}

.status-error {
  background-color: firebrick;
}

.status-unstable {
  background-color: goldenrod;
}

.status-good {
  background-color: green;
}

.toolbox > button {
  margin: 4px;
  background-color: black;
}

.menu-walls .primary-cell {
  width: 14px;
  position: relative;
  top: 2px;
}

.menu-walls-angled .primary-cell {
  position: absolute;
  top: 3px;
  left: 3px;
}

.menu-walls .text-cell {
  position: absolute;
  font-size: 8pt;
  line-height: 8pt;
  top: 4px;
  z-index: 2;
}

.menu-separators .grid-cell {
  position: relative;
  top: 2px;
}

.menu-separators .floor-cell {
  width: 10px;
}

.menu-separators .separator-cell {
  position: absolute;
  width: 8px;
  height: 16px;
  z-index: 1;
  left: 11px;
  top: 7px;
}

.menu-separators .window-cell {
  width: 3px;
  left: 12px;
  top: 4px;
}

.menu-separators .separator-cell img {
  width: 8px;
  height: 26px;
  top: -3px;
  left: 3px;
  position: absolute;
}

.menu-separators .fence-cell-vertical {
  left: 14px;
  height: 26px;
  top: 3px;
}

.menu-separators .fence-cell-vertical img {
  left: 0;
  top: 1px;
}

.menu-text .floor-cell {
  position: relative;
  top: 2px;
}

.menu-text .text-cell {
  position: absolute;
  font-size: 8pt;
  top: 1px;
}

.menu-images .floor-cell {
  position: relative;
  top: 2px;
}

.menu-images .image-cell {
  position: absolute;
  left: 4px;
  top: 4px;
}

.menu-shapes .floor-cell {
  position: relative;
  top: 2px;
}

.menu-shapes .shape-cell {
  position: absolute;
  left: 4px;
  top: 4px;
}

.menu-stairs .floor-cell {
  position: relative;
  top: 2px;
}

.menu-stairs .stairs-cell {
  position: absolute;
  width: 28px;
  height: 28px;
  overflow: hidden;
  left: 2px;
  top: 2px;
}

.menu-tokens .floor-cell {
  position: relative;
  top: 2px;
}

.menu-tokens .image-cell {
  position: absolute;
  left: 4px;
  top: 4px;
}

#createdOn {
  color: white;
}
