body {
  margin: 0;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: darkgrey;
  overflow: hidden;
  transform-origin: top left;
}

#menuContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 75%;
  overflow-x: auto;
  z-index: 3;
}

#mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#mapFrame {
  overflow: hidden;
}

.action-pane {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
  background-color: rgba(200, 100, 100, 0.5);
  text-align: center;
  line-height: 22px;
  font-size: 20px;
  user-select: none;
}

@media screen and (any-hover: none) {
  #mapContainer{ overflow: auto; }
}

@media (any-hover: none) {
  .app {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.map-resize-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(43, 43, 44, 0.28);
  pointer-events: auto;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.transforming-map .map-resize-button {
  visibility: hidden;
}

.map-resize-button-add-column-right {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
  transform: rotate(90deg);
}
.map-resize-button-remove-column-right {
  background-image: url("assets/ic_last_page_white_24px.svg");
  transform: rotate(180deg);
}
.map-resize-button-add-row-bottom {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
  transform: rotate(180deg);
}
.map-resize-button-remove-row-bottom {
  background-image: url("assets/ic_last_page_white_24px.svg");
  transform: rotate(270deg);
}
.map-resize-button-add-column-left {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
  transform: rotate(270deg);
}
.map-resize-button-remove-column-left {
  background-image: url("assets/ic_last_page_white_24px.svg");
}
.map-resize-button-add-row-top {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
}
.map-resize-button-remove-row-top {
  background-image: url("assets/ic_last_page_white_24px.svg");
  transform: rotate(90deg);
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 100;
  top: 0;
  left: 0;
}

.modal-message {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 36pt;
  line-height: 200px;
  vertical-align: middle;
  color: white;
}

.modal-dialog {
  color: white;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  overflow: auto;
  margin: 50px;
}

.modal-dialog-line {
  text-align: center;
  font-size: 18pt;
  line-height: 18pt;
  margin: 8px 0;
}

.modal-dialog-line div {
  display: inline-block;
}

.modal-dialog-line input {
  margin: 0 8px;
  font-size: 18pt;
  line-height: 18pt;
  width: 3em;
}

.modal-dialog-anchorbox {
  text-align: center;
}

modal-dialog-anchorbox-line {
  text-align: center;
}

.anchor-button {
  height: 26px;
  width: 26px;
  margin: 1px;
}

.anchor-button-selected {
  border-style: inset;
}

.modal-dialog-warning {
  color: gold;
  font-size: 12pt;
}

.modal-dialog-button {
  font-size: 18pt;
  margin: 8px;
}

.modal-dialog-accept-button {
  font-weight: bold;
}

.grid-imager-image-container {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-cursor {
  position: fixed;
  left: calc(50% - 12.5px);
  top: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAYUlEQVRIS+1WQQ4AIAiS/z/aRs2tW9KhdcCzijJkIoTIzKx0AOiWthPZkCDsTSyDHCk2XVbXh3eyW8VRwxHcYF68EijtK0VK7rSgJ5uIU9kg+4TZIG2QHxpkX8DrJbr5uwYYoKkOM2ZJzgAAAABJRU5ErkJggg==");
}

.status-bar {
  visibility: hidden;
  background-color: rgba(31, 31, 31, 0.6);
  height: 20px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: aliceblue;
  z-index: 20;
  padding: 0 10px;
  pointer-events: none;
  white-space: nowrap;
}

.status-bar-progress {
  display: inline-block;
  height: 2px;
  margin-left: 10px;
  vertical-align: middle;
  border: 1px solid darkgreen;
  background-color: greenyellow;
}

.menu-radio-group {
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
}

.menu-radio-details {
  margin-left: 32px;
}

.menu-radio-details a {
  color: cyan;
}

.menu-radio-details a:visited {
  color: darkseagreen;
}
