body {
  margin: 0;
}

.app {
  position: relative;
  width: calc(100% - 182px);
  height: calc(100% - 16px);
  margin: 8px;
  background-color: darkgrey;
  overflow: hidden;
  transform-origin: top left;
}

#menuContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 75%;
  overflow-x: auto;
  z-index: 3;
}

#mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.action-pane {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
  background-color: rgba(200, 100, 100, 0.5);
  text-align: center;
  line-height: 80px;
  font-size: 24px;
}

@media screen and (any-hover: none) {
  #mapContainer{ overflow: auto; }
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.5);
  text-align: center;
  font-size: 36pt;
  line-height: 200px;
  vertical-align: middle;
  color: white;
  z-index: 100;
  top: 0;
  left: 0;
}

@media (any-hover: none) {
  #adContainer {
    display: none;
  }
  .app {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

#adContainer {
  position: fixed;
  top: 4px;
  right: 4px;
  z-index: 1;
}

#adWhy {
  text-align: center;
}

#ad {
  width: 120px;
  height: 600px;
  border: 3px solid grey;
  padding: 20px;
}

#warning {
  border: 2px solid red;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: darkred;
  z-index: 20;
}

.map-resize-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(43, 43, 44, 0.28);
  pointer-events: auto;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
/*

@media screen and (any-hover: none) {
  .map-resize-button {
    position: fixed;
  }
}
*/

.map-resize-button-add-column-right {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
  transform: rotate(90deg);
}
.map-resize-button-remove-column-right {
  background-image: url("assets/ic_last_page_white_24px.svg");
  transform: rotate(180deg);
}
.map-resize-button-add-row-bottom {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
  transform: rotate(180deg);
}
.map-resize-button-remove-row-bottom {
  background-image: url("assets/ic_last_page_white_24px.svg");
  transform: rotate(270deg);
}
.map-resize-button-add-column-left {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
  transform: rotate(270deg);
}
.map-resize-button-remove-column-left {
  background-image: url("assets/ic_last_page_white_24px.svg");
}
.map-resize-button-add-row-top {
  background-image: url("assets/ic_keyboard_capslock_white_24px.svg");
}
.map-resize-button-remove-row-top {
  background-image: url("assets/ic_last_page_white_24px.svg");
  transform: rotate(90deg);
}
