body {
  margin: 0;
}

.app {
  width: calc(100% - 174px);
  height: calc(100% - 16px);
  margin: 8px;
  background-color: darkgrey;
  overflow: hidden;
  position: relative;
}

#adContainer {
  position: fixed;
  top: 4px;
  right: 4px;
  z-index: -1;
}

#adWhy {
  text-align: center;
}

#ad {
  width: 120px;
  height: 600px;
  border: 3px solid grey;
  padding: 20px;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.5);
  text-align: center;
  font-size: 36pt;
  line-height: 200px;
  vertical-align: middle;
  color: white;
  z-index: 100;
  top: 0;
  left: 0;
}

.the-map {
  transform-origin: top left;
  display: inline-block;
  cursor: crosshair;
  overflow: hidden;
}

.the-map * {
  box-sizing: border-box;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  pointer-events: none;
}

#widgetLayer {
  z-index: 10;
}

#gridLayer {
  display: inline-block;
  z-index: 9;
  pointer-events: auto;
}

#textLayer {
  z-index: 8;
}

#doorsLayer {
  z-index: 7;
}

#imagesLayer {
  z-index: 6;
}

#shapesLayer {
  z-index: 5;
}

#stairsLayer {
  z-index: 4;
}

#wallsLayer {
  z-index: 3;
  filter: drop-shadow(2px 2px 3px #919191);
}

#wallsShadowLayer {
  z-index: 2;
}

#floorsLayer {
  z-index: 1;
}

#wallsShadowLayer > div {
  box-shadow: 2px 2px 6px 0px #919191;
}

.row-container {
  display: block;
  white-space: nowrap;
}

.grid-cell {
  position: relative;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.wall-cell {
  position: absolute;
}

.floor-cell {
  position: absolute;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.door-cell {
  position: absolute;
}

.image-cell {
  position: absolute;
}

.shape-cell {
  position: absolute;
}

.stairs-cell {
  position: absolute;
  margin: 0 1px 1px 0;
}

.text-cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2px 3px 3px 2px;
  white-space: pre-wrap;
}

.text-cell-adding, .text-cell-removing, .text-cell-editing,
.image-cell-adding, .image-cell-removing, .image-cell-editing {
  border: 1px dashed rgb(50, 50, 50);
  margin: 1px 2px 2px 1px;
}

.stairs-cell-adding, .stairs-cell-removing, .stairs-cell-editing {
  border: 1px dashed rgb(50, 50, 50);
  margin: -1px 0 0 -1px;
}

.image-cell-removing {
  border-color: red;
}

.text-cell-textarea, .image-cell-textarea {
  position: absolute;
  z-index: 11;
  resize: none;
  margin: 1px 0px 0px 1px;
  overflow: hidden;
  text-align: center;
  border: 0;
  outline: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 0px 8px 2px rgba(50,50,50,0.5);
}

.image-cell-textarea {
  background-color: rgba(255, 255, 255, 0.5);
}

.text-hover-widget, .image-hover-widget {
  position: absolute;
  cursor: text;
  z-index: 10;
  margin: 2px 3px 3px 2px;
}

.fixed-image-hover-widget {
  position: absolute;
  margin: 0 1px 1px 0;
  z-index: 10;
}

.text-delete-widget, .image-delete-widget {
  position: absolute;
  width: 6px;
  height: 6px;
  cursor: pointer;
  margin-left: -2px;
  z-index: 12;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><line x1='0' y1='0' x2='6' y2='6' stroke='red' stroke-width='1' /><line x1='6' y1='0' x2='0' y2='6' stroke='red' stroke-width='1' /></svg>");
}

.image-delete-widget {
  margin-left: -5px;
}

.text-resize-widget, .image-resize-widget {
  position: absolute;
  width: 6px;
  height: 6px;
  cursor: se-resize;
  margin-left: -2px;
  margin-top: -2px;
  z-index: 12;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><polygon points='0,6 6,6 6,0'/></svg>");
}

.image-resize-widget {
  margin-left: -5px;
  margin-top: -5px;
}

.box-move-widget {
  position: absolute;
  background-color: yellow;
  width: 6px;
  height: 6px;
  cursor: move;
  z-index: 12;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><rect x='0' y='0' width='6' height='6' stroke-width='1' fill='none' stroke='black'/></svg>");
}

.image-cell-editing .image, .image-cell-adding .image {
  margin: -2px -3px -3px -2px;
}