.primary-cell {
  width: 17px;
  height: 17px;
}

.corner-cell {
  width: 5px;
  height: 5px;
}

.vertical-cell {
  width: 5px;
  height: 17px;
}

.horizontal-cell {
  width: 17px;
  height: 5px;
}

#terrainLayer {
  border-color: bisque;
}

.terrain-cell {
  border-color: bisque;
}

.wall-cell {
  background-color: rgb(222, 184, 135);
  box-shadow: 2px 2px 6px 0px #919191;
  z-index: 1;
}

.floor-cell {
  background-color: rgb(245, 245, 220);
  z-index: 0;
}

.wall-cell-adding {
  background-color: rgb(215, 215, 190);
  box-shadow: initial;
}

.floor-cell-adding {
  background-color: rgb(232, 221, 182);
  box-shadow: 2px 2px 6px 0px #919191;
  z-index: 1;
}

.door-cell {
  position: absolute;
  background-color: rgb(255, 250, 240);
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
}

.door-cell-horizontal {
  margin: -2px 4px -1px 3px;
}

.door-cell-vertical {
  margin: 3px -1px 4px -2px;
}

.double-door-cell-horizontal {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='50%' y1='0' x2='50%' y2='100%' stroke-width='1' stroke='rgb(100, 100, 100)' /></svg>") rgb(255, 250, 240);
}

.double-door-cell-vertical {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='50%' x2='100%' y2='50%' stroke-width='1' stroke='rgb(100, 100, 100)' /></svg>") rgb(255, 250, 240);
}

.secret-door-cell {
  border: 1px dotted rgb(100, 100, 100);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><text x='50%' y='50%' dominant-baseline='central' text-anchor='middle' font-size='8'>S</text></svg>") rgb(255, 250, 240) no-repeat;
}

.door-cell-adding {
  background-color: rgba(255, 250, 240, 0.2);
  border-color: rgba(100, 100, 100, 0.8);
}

.door-cell-removing {
  background-color: rgba(255, 250, 240, 0.5);
  border-color: rgba(100, 100, 100, 0.8);
}
