.primary-cell {
  width: 25px;
  height: 25px;
}

.corner-cell {
  width: 7px;
  height: 7px;
}

.vertical-cell {
  width: 7px;
  height: 25px;
}

.horizontal-cell {
  width: 25px;
  height: 7px;
}

#terrainLayer {
  border-color: bisque;
}

.terrain-cell {
  border-color: bisque;
}

.wall-cell {
  background-color: rgb(222, 184, 135);
  box-shadow: 2px 2px 6px 0px #919191;
}

.floor-cell {
  background-color: rgb(245, 245, 220);
}

.wall-cell-adding {
  background-color: rgb(215, 215, 190);
  box-shadow: initial;
}

.floor-cell-adding {
  background-color: rgb(232, 221, 182);
  box-shadow: 2px 2px 6px 0px #919191;
  z-index: 1;
}

.door-cell {
  background-color: rgb(255, 250, 240);
  border: 1px solid rgb(100, 100, 100);
  border-radius: 2px;
}

.door-cell-horizontal {
  margin: -2px 4px -1px 3px;
}

.door-cell-vertical {
  margin: 3px -1px 4px -2px;
}

.double-door-cell-horizontal {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='50%' y1='0' x2='50%' y2='100%' stroke-width='1' stroke='rgb(100, 100, 100)' /></svg>") rgb(255, 250, 240);
}

.double-door-cell-vertical {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='50%' x2='100%' y2='50%' stroke-width='1' stroke='rgb(100, 100, 100)' /></svg>") rgb(255, 250, 240);
}

.secret-door-cell {
  border: 1px dashed rgb(100, 100, 100);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><text x='50%' y='50%' dominant-baseline='central' text-anchor='middle' font-size='10'>S</text></svg>") rgb(255, 250, 240) no-repeat;
}

.door-cell-adding {
  background-color: rgba(255, 250, 240, 0.2);
  border-color: rgba(100, 100, 100, 0.8);
}

.door-cell-removing {
  background-color: rgba(255, 250, 240, 0.5);
  border-color: rgba(100, 100, 100, 0.8);
}

.text-cell {
  color: rgb(50, 50, 50);
}

.image-cell {
  color: rgb(50, 50, 50);
}

.text-cell-adding {
  color: rgba(50, 50, 50, 0.6);
}

.text-cell-removing {
  color: rgba(50, 50, 50, 0.3);
}

.text-cell-textarea, .image-cell-textarea, .text-cell {
  font-family: sans-serif;
  font-weight: bold;
}

.furniture-cell {
  margin: -4px -3px -3px -4px;
}

.furniture-cell-0 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 9, 23 9, 23 23, 9 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-1 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 -2, 23 -2, 23 23, 9 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-2 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 9, 33 9, 33 23, 9 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-3 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 -2, 23 -2, 23 9, 33 9, 33 23, 9 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-4 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 9, 23 9, 23 33, 9 33' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-5 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 -2, 23 -2, 23 33, 9 33' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-6 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 9, 33 9, 33 23, 23 23, 23 33, 9 33' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-7 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 -2, 23 -2, 23 9, 33 9, 33 23, 23 23, 23 33, 9 33' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-8 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 9, 23 9, 23 23, -2 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-9 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 9, 9 9, 9 -2, 23 -2, 23 23, -2 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-10 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 9, 33 9, 33 23, -2 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-11 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 -2, 23 -2, 23 9, 33 9, 33 23, -2 23, -2 9, 9 9' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-12 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 9, 23 9, 23 33, 9 33, 9 23, -2 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-13 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='9 -2, 23 -2, 23 33, 9 33, 9 23, -2 23, -2 9, 9 9' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-14 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 9, 33 9, 33 23, 23 23, 23 33, 9 33, 9 23, -2 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.furniture-cell-15 {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><polygon points='-2 9, 9 9, 9 -2, 23 -2, 23 9, 33 9, 33 23, 23 23, 23 33, 9 33, 9 23, -2 23' fill='rgb(255, 0, 0)' stroke-width='2' stroke='rgb(150, 0, 0)'/></svg>");
}

.green-furniture {
  filter: hue-rotate(160deg) brightness(2.5) opacity(0.8);
}

.green-furniture-adding {
  filter: hue-rotate(160deg) brightness(3.0) opacity(0.6);
}

.green-furniture-removing {
  filter: hue-rotate(160deg) brightness(3.0) opacity(0.4);
}

.brown-furniture {
  filter: hue-rotate(65deg) brightness(2.5) opacity(0.8);
}

.brown-furniture-adding {
  filter: hue-rotate(65deg) brightness(3) opacity(0.6);
}

.brown-furniture-removing {
  filter: hue-rotate(65deg) brightness(3) opacity(0.4);
}
