.app {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
  background-color: darkgrey;
  overflow: hidden;
  position: relative;
}

.toolbox {
  position: absolute;
  max-width: calc(100% - 8px);
  top: 4px;
  left: 4px;
  max-height: calc(100% - 8px);
  z-index: 4;
  background-color: rgba(75, 83, 107, 0.5);
}

.toolbox > * {
  margin: 4px;
  display: block;
}

.toolbox button {
  background-color: rgba(75, 83, 107, 0.8);
  color: aliceblue;
}

.the-map {
  transform-origin: top left;
  display: inline-block;
  cursor: crosshair;
}

.the-map * {
  box-sizing: border-box;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

#widgetLayer {
  z-index: 8;
}

#gridLayer {
  display: inline-block;
  z-index: 7;
}

#textLayer {
  z-index: 6;
}

#doorsLayer {
  z-index: 5;
}

#imagesLayer {
  z-index: 4;
}

#shapesLayer {
  z-index: 3;
}

#stairsLayer {
  z-index: 2;
}

#terrainLayer {
  z-index: 1;
}

.row-container {
  display: block;
  white-space: nowrap;
}

.grid-cell {
  position: relative;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.terrain-cell {
  position: absolute;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.wall-cell {
  z-index: 1;
}

.floor-cell {
  z-index: 0;
}

.door-cell {
  position: absolute;
}

.image-cell {
  position: absolute;
}

.shape-cell {
  position: absolute;
}

.stairs-cell {
  position: absolute;
  margin: 0 1px 1px 0;
}

.text-cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2px 3px 3px 2px;
  white-space: pre-wrap;
}

.text-cell-adding, .text-cell-removing, .text-cell-editing,
.image-cell-adding, .image-cell-removing, .image-cell-editing {
  border: 1px dashed rgb(50, 50, 50);
  margin: 1px 2px 2px 1px;
}

.stairs-cell-adding, .stairs-cell-removing, .stairs-cell-editing {
  border: 1px dashed rgb(50, 50, 50);
  margin: -1px 0 0 -1px;
}

.image-cell-removing {
  border-color: red;
}

.text-cell-textarea, .image-cell-textarea {
  position: absolute;
  z-index: 11;
  resize: none;
  margin: 1px 0px 0px 1px;
  overflow: hidden;
  text-align: center;
  border: 0;
  outline: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 0px 8px 2px rgba(50,50,50,0.5);
}

.image-cell-textarea {
  background-color: rgba(255, 255, 255, 0.5);
}

.text-hover-widget, .image-hover-widget {
  position: absolute;
  cursor: text;
  z-index: 10;
  margin: 2px 3px 3px 2px;
}

.fixed-image-hover-widget {
  position: absolute;
  margin: 0 1px 1px 0;
  z-index: 10;
}

.text-delete-widget, .image-delete-widget {
  position: absolute;
  background-color: red;
  width: 6px;
  height: 6px;
  cursor: pointer;
  margin-left: -2px;
  z-index: 12;
}

.image-delete-widget {
  margin-left: -5px;
}

.text-resize-widget, .image-resize-widget {
  position: absolute;
  background-color: blue;
  width: 6px;
  height: 6px;
  cursor: se-resize;
  margin-left: -2px;
  margin-top: -2px;
  z-index: 12;
}

.image-resize-widget {
  margin-left: -5px;
  margin-top: -5px;
}

.box-move-widget {
  position: absolute;
  background-color: yellow;
  width: 6px;
  height: 6px;
  cursor: move;
  z-index: 12;
}

.image-cell-editing .image, .image-cell-adding .image {
  margin: -2px -3px -3px -2px;
}

.status-error {
  color: darkred;
}

.status-unstable {
  color: yellow;
}

.status-good {
  color: greenyellow;
}
