.app {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
  background-color: darkgrey;
  overflow: hidden;
  position: relative;
}

.toolbox {
  position: absolute;
  max-width: calc(100% - 8px);
  top: 4px;
  left: 4px;
  max-height: calc(100% - 8px);
  z-index: 4;
  background-color: rgba(75, 83, 107, 0.5);
}

.toolbox > * {
  margin: 4px;
  display: block;
}

.toolbox button {
  background-color: rgba(75, 83, 107, 0.8);
  color: aliceblue;
}

.the-map {
  transform-origin: top left;
  display: inline-block;
  cursor: crosshair;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

#gridLayer {
  display: inline-block;
  z-index: 3;
}

.grid-cell {
  position: relative;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#objectsLayer: {
  z-index: 2;
}

#terrainLayer {
  z-index: 1;
}

.terrain-cell {
  position: absolute;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
