.the-map {
  background-color: white;
  background-image: url("empty_tile1.png");
}

.walls-layer {
  filter: drop-shadow(1px 0px 0px #919191) drop-shadow(-1px 0px 0px #919191)
      drop-shadow(0px 1px 0px #919191) drop-shadow(0px -1px 0px #919191);
}

.floor-cell {
  background-color: white;
  border-color: rgb(197, 239, 255);
}

.wall-cell {
  background-color: rgb(210, 210, 210);
  border-color: rgb(183, 195, 199);
  box-shadow: 0 0 0 0.3px rgb(183, 195, 199);
}

.angled-wall-cell {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAT0lEQVRYR2NkwAG2Hz7+39PWkhGXPDXEQXbgtGDUAaMhQLcQAFlEjRRNrhmjuWA0BEZDYDQERkNgNARGQ2A0BEZDYDQERkNgNAQYB7pjAgD6uuAh/x3yTQAAAABJRU5ErkJggg==");
}

.wall-cell-adding, .wall-cell-editing {
  background-color: rgb(235, 235, 234);
}

.wall-cell-removing {
  background-color: rgb(243, 242, 242);
  z-index: 1;
}

.door-cell {
  background-color: rgb(255, 255, 255);
}

.door-cell-horizontal {
  margin: -2px 3px -2px 3px;
}

.door-cell-vertical {
  margin: 3px -2px 3px -2px;
}

.window-cell {
  background-color: rgb(255, 255, 255);
}

.window-cell-horizontal {
  margin: 1px 3px 1px 3px;
}

.window-cell-vertical {
  margin: 3px 1px 3px 1px;
}

.text-cell {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.pit-cell {
  stroke: #bfbfbf;
  background-color: transparent;
}

.pit-top, .pit-left {
  fill: rgb(210, 210, 210);
}

.pit-right, .pit-bottom {
  fill: white;
}

.passage-cell-dashed-over-floor {
  stroke: rgb(210, 210, 210);
}

.passage-cell-dashed-over-wall {
  stroke: white;
}
