.the-map {
  background-color: white;
  background-image: none;
}

.walls-layer {
  filter: drop-shadow(1px 0px 0px #919191) drop-shadow(-1px 0px 0px #919191)
      drop-shadow(0px 1px 0px #919191) drop-shadow(0px -1px 0px #919191);
  clip-path: inset(-1px);
}

.floor-cell {
  background-color: white;
  border-color: white;
  box-shadow: 0 0 0 0.1px white;
}

.wall-cell {
  background-color: rgb(210, 210, 210);
  background-image: none;
  border-color: rgb(210, 210, 210);
  box-shadow: 0 0 0 0.3px rgb(210, 210, 210);
}

.wall-cell-adding, wall-cell-editing {
  background-color: rgb(235, 235, 234);
}

.wall-cell-removing {
  background-color: rgb(243, 242, 242);
}

.oval-wall-cell {
  margin: -0.5px;
}

.door-cell {
  background-color: rgb(255, 255, 255);
}

.door-cell-horizontal {
  margin: -2px 3px -2px 3px;
}

.door-cell-vertical {
  margin: 3px -2px 3px -2px;
}

.window-cell {
  background-color: rgb(255, 255, 255);
}

.window-cell-horizontal {
  margin: 1px 3px 1px 3px;
}

.window-cell-vertical {
  margin: 3px 1px 3px 1px;
}

.text-cell {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
