.the-map {
  background-color: white;
  background-image: url("empty_tile1.png");
}

.walls-layer {
  filter: drop-shadow(1px 0px 0px #919191) drop-shadow(-1px 0px 0px #919191)
      drop-shadow(0px 1px 0px #919191) drop-shadow(0px -1px 0px #919191);
  clip-path: inset(-1px);
  -webkit-clip-path: inset(-1px);
}

.floor-cell {	
  border-color: transparent;	
  image-rendering: pixelated;	
  background-clip: border-box;	
  margin: -1px;	
}	
	
.menu-item .floor-cell {	
  background-color: white;	
}	
/*
.floor-cell-primary {
  background: white;
}

.floor-cell-vertical {
  background: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAYCAYAAADZEIyjAAAAIElEQVQoU2NkQAJH3///by3IyAgSAhMwMCoxGiSkJQYAyOVgGTiyMN8AAAAASUVORK5CYII=") 1px 1px white;
}

.floor-cell-horizontal {
  background: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAGCAYAAADZq14TAAAAIklEQVQoU2NkoDFgpLH5DLS34Oj7//9p6Qva+4CWrgeZDQA0MQO58ZNxzgAAAABJRU5ErkJggg==") 1px 1px white;
}

.floor-cell-corner {
  background: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAI0lEQVQYV2NkQAJH3///by3IyAgSAhMwQJwESBWyLhibdKMA7m8XuZeAcRYAAAAASUVORK5CYII=") 1px 1px white;
}
*/
.wall-cell {
  background-color: rgb(210, 210, 210);
  background-image: none;
  border-color: rgb(210, 210, 210);
  box-shadow: 0 0 0 0.3px rgb(210, 210, 210);
}

.wall-cell-adding, wall-cell-editing {
  background-color: rgb(235, 235, 234);
}

.wall-cell-removing {
  background-color: rgb(243, 242, 242);
}

.oval-wall-cell {
  margin: -0.5px;
}

.door-cell {
  background-color: rgb(255, 255, 255);
}

.door-cell-horizontal {
  margin: -2px 3px -2px 3px;
}

.door-cell-vertical {
  margin: 3px -2px 3px -2px;
}

.window-cell {
  background-color: rgb(255, 255, 255);
}

.window-cell-horizontal {
  margin: 1px 3px 1px 3px;
}

.window-cell-vertical {
  margin: 3px 1px 3px 1px;
}

.text-cell {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.pit-cell {
  stroke: #bfbfbf;
  fill: transparent;
  margin: 0;
}

.pit-top, .pit-left {
  fill: rgb(210, 210, 210);
}

.pit-right, .pit-bottom {
  fill: white;
}

.passage-cell-dashed-over-floor {
  stroke: rgb(210, 210, 210);
}

.passage-cell-dashed-over-wall {
  stroke: white;
}
